.contentContainer {
    /* background-color: gold; */
    border: 1px solid rgb(82, 81, 81);
    margin: 0;
    padding:  2rem;
    margin-bottom: 2rem;
}

.contentImage {
    width: 100%;
    /* background-color: rgb(224, 202, 80); */
    text-align: center;
}

.contentImage img {
    width: 100%;
    height: auto;
}

.contentBody {
    padding: 0rem ;
    /* background-color: rgb(61, 61, 61); */
}

.contentHeader {
    font-size: 1.6rem;
    color: royalblue;
}

.content {
    padding:0;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

@media screen and (max-width:480px) {
    .contentContainer {
        padding: 1rem;
    }
}